.FunkUp {
    width: 50%;
    height: 40px;
    background-color: rgba(0,0,0,.5);
    transition:.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FunkUp:hover {
    box-shadow: 0 0 15px 1px black;
}
.FunkUp a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    cursor:pointer;
}